.Contador input{
    font-size: 1.4rem;
    width: 80px;
    margin-top: 10px;

}

.Contador button{
    margin: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 1.4rem;
}